.nouser-navbar {
    display: flex;
    min-height: 70px;
    padding: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.99);
    color: #343a40;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgb(96 96 96 / 30%);
    position: fixed;
}

.nouser-navbar .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    font-size: 30px;
    padding: 10px
}

.nouser-navbar .navbar-content .navbar-right{
    display: flex;
}

.navbar-btn{
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
}

.link-label{
    cursor: pointer;
    text-align: center;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #343a40;
}