.teams-overview{
    padding: 10px;
    width: 400px;
    min-width: 400px;
}

.teams-overview .team-search{ 
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    
}

.teams-overview .team-search .search-input{
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    border-right: none;
    position: relative;
    font-size: 16px;
    border: 1px solid gray;
}
.search-input:focus-visible{
    outline: none;
}

.team-search .search-btn{
    position: absolute;
    right: 0;
    background: transparent;
}

.teams-overview .sort-by{
    display: flex;
    align-items: center;
}

.teams-overview .sort-by p{
    margin-right: 10px;
}
