.project-modal-background{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 50px;
    vertical-align: top;
    z-index: 1;
}

.project-modal-container{
    width: 800px;
    height: 800px;
    display: flex;
    background: var(--off-white);
    flex-direction: column;
    box-shadow: 1px 0 20px 0 #3f4d67;
    border-radius: 23px;
}


/* ------- header area -------- */


.project-modal-container .header{
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px; 
}
.project-modal-container .header p{
    margin: 5px;
}

.project-modal-container .header button {
    background: none;
    color: white;
    font-size: 20px;
    
}


.project-modal-container .content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* ----- form area ------ */


.project-modal-container .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.project-modal-container .form-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.project-modal-container .form-container label{
    font-size: 25px;
}

.modal-input{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    text-align: center;
    position: relative;
}

.split-input-fields{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-modal-container input{
        width: 100%;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        padding-right: 30px;
}

.project-modal-container .search-btn{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background: transparent;

}
/* --------- modal buttons area -------- */


.modal-buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.modal-buttons button{
    font-size: 25px;
}