.team-view{
    padding: 10px;
    width: 100%;
    padding-right: 30px;
}
.team-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    text-transform: uppercase;
}

.team-header button {
    color: whitesmoke;
    background-color: var(--dark-blue);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px;
    margin: 10px;
}

.team-header button:hover{
    color: white;
    box-shadow: 0px 0 3px 0 #3f4d67;
}

.nothing-created-yet{
    text-align: center
}


/* ------- developer table setion --------- */

.developer-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.team-developers{
    padding: 10px;
    border-bottom: 1px solid black;
}

/* --------- adding a developer to the team section ---------  */

.add-developer-to-team{
    display: flex;
    align-items: center;
}

.add-developer-to-team p{
    font-size: 20px;
}

.add-developer-to-team .dev-search{
    position: relative;
    display: flex;
    height: 40px;
}

.dev-search .search-input{
        width: 100%;
        padding: 10px;
        border-radius: 13px;
        border-right: none;
        position: relative;
        font-size: 16px;
        border: 1px solid gray;
        padding-right: 30px;
}

.dev-search{
    margin-left: 20px;
    min-width: 350px;
    display: flex;
    align-items: center;
}

.dev-search .search-btn{
    position: absolute;
    right: 0;
    background: transparent;
    font-size: 10px;
}

.dev-search .search-btn .material-symbols-outlined{
    font-size: 30px;
    margin: 0px;
}

/*------------- teams table section ---------- */

.teams-table{
    background-color: white;
}

.developer-cell{
    display: flex;
    align-items: center;
}

.role-cell{
    text-align: center;
}

.tickets-cell{
    text-align: center;
}

.label-nothing-yet{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.errors{
    font-size: 16px;
    margin: 0px;
    height: 25px;
    margin-bottom: 15px;
}