.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100vh;
    background-color: #f4f7fa;
}

.login-page span {
    font-size: 150px;
}
.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 20px 0 rgba(41, 52, 58, 0.08);
    vertical-align: center;
    margin-top: 200px;
    background-color: white;
    width: 800px
}