body {
  
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background: var(--off-white); 
  
  }

  
  
  * {
    box-sizing: border-box;
  }
  
  :root {
    --dark-blue: #3f4d67;
    --off-white: #f4f7fa;
  }
  
  i,
  button {
    cursor: pointer;
    outline: none;
    border: none;
  }
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
