.project-view{
    width: 100%;
    padding: 10px;
    padding-right: 30px;
}
.project-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    
}

.project-header button {
    color: whitesmoke;
    background-color: var(--dark-blue);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px;
    margin: 10px;
}

.project-header button:hover{
    color: white;
    box-shadow: 0px 0 3px 0 #3f4d67;
}


.project-description{
    border-bottom: 1px solid black;
}


.row:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}
tbody tr:nth-child(odd){
    background-color: #f3f3f3;
}

.new-btn{
    font-size: 20px;
    background-color: var(--lightgrey);
    border: 1px solid lightgray;
    
}

table {
    width: 100%;
  }