.project-view{
    width: 100%;
    padding: 10px;

}
.project-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.project-header button {
    height: 30px;
}
.project-description{
    border-bottom: 1px solid black;
}


.row:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}
tbody tr:nth-child(odd){
    background-color: #f3f3f3;
}

.new-btn{
    font-size: 20px;
    background-color: var(--lightgrey);
    border: 1px solid lightgray;
    
}

table {
    width: 100%;
  }