.tickets-page{
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px;
}

.tickets-page .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.tickets-page .row:hover {
    background-color: var(--off-white);
    cursor: default
}

.tickets-page .projects-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 35%;
}

.tickets-page .tickets-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 35%;
    max-width: 35%
}