.login-form{
    display: flex;
    flex-direction: column;
    
}

.login-form h2{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

.login-form .form{
    font-size: 20px;
    text-align: center;
}

.login-form .form .input-field{
    display: flex;
    flex-direction: column;
}


.login-form .form label{
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.login-form .form input{
    font-size: 18px;
    margin-bottom: 20px;
}

.login-form .form-input{
    padding: 10px 20px;
}

.login-form .form button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: black;
    background: whitesmoke;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.login-form .footer{
    font-size: 20px;
}
.login-form a:hover {
    text-decoration: underline;
}