.ticket-view{
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}

.ticket-header{
    text-transform: capitalize;    
    border-bottom: 1px solid black; 
}

.ticket-title{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

.ticket-created-details{
    display:flex;
    justify-content: space-between;
}

.ticket-details{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 40px;
}

.ticket-details .ticket-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.ticket-created-details label{
    font-weight: bold;
}

.ticket-header button {
    color: whitesmoke;
    background-color: var(--button-blue);
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 50px;
}
.ticket-header button:hover{
    color: white;
    box-shadow: 0px 0 3px 0 #3f4d67;
}

.new-btn span{
    margin: none;
}


.ticket-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket-description{
    width: 100%;
    margin-right: 20px;
}

.ticket-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.ticket-info label{
    font-size: 18px;
    font-weight: bold;
}

.ticket-priority, .ticket-category, .ticket-status, .ticket-developers, .ticket-complexity{
    /* background-color: yellow; */
    /* margin: 15px 15px 15px 0px; */
    display: flex;
    flex-direction: column;
}


.ticket-priority .low{
    background-color:#caffbf;
}
.ticket-priority .medium{
    background-color:#fdffb6  ;
}
.ticket-priority .high{
    background-color:#ffd6a5  ;
}
.ticket-priority .critical{
    background-color:#ffadad;
}

.ticket-view .nothing-created-yet{
    border-top: 1px solid black;
    text-align: center
}





.label-nothing-yet{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.errors{
    font-size: 16px;
    margin: 0px;
    height: 25px;
    margin-bottom: 15px;
}