.sidebar {
    background-color: var(--dark-blue);
    color: #a9b7d0;
    width: 90px;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    white-space: nowrap;
    box-shadow: 1px 0 20px 0 #3f4d67;
    transition: 0.5s;
}
.sidebar-logo{
    flex-direction: row;
}
.sidebar-icons{
    overflow:hidden;
}

.sidebar-icon{
    position:relative;
    display:block;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5px;
    text-decoration: none;
    color:#a9b7d0;
}

.sidebar-icon:hover{
    color: #1dc4e9;
    cursor: pointer;

}
.sidebar:hover{
    width:260px;
    transition: 0.5s;
}
.material-symbols-outlined {
    font-size: 50px;
    margin-right: 10px;
}

.sidebar-logo{
    margin-top: 20px;
}

.top-sidebar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.middle-sidebar{
    margin-top: 90px;
    margin-bottom:20px;
}

.icon-text{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.bottom-sidebar{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.sidebar .icon-text:hover{
    transform: rotateY(0deg);
    opacity: 1;
    
}

.sidebar-logo, .top-sidebar, .middle-sidebar, .bottom-sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

