.ticket-modal-background{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    vertical-align: top;
    z-index: 1;
}

.ticket-modal-container{
    width: 800px;
    height: 800px;
    display: flex;
    background: var(--off-white);
    flex-direction: column;
    box-shadow: 1px 0 15px 0 #3f4d67;
    border-radius: 23px;
}


/* -------- header section ----------- */


.ticket-modal-container .header{
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px; 
    box-shadow: 1px 0 8px 0 #3f4d67;
}
.ticket-modal-container .header p{
    margin: 5px;
}
.ticket-modal-container .header button {
    background: none;
    color: white;
    font-size: 20px;
}


/* ------- form section --------- */

textarea{
    resize: none;
}

.ticket-modal-container .form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ticket-modal-container .form .form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------------- top row: title and project selection ------------------- */

.ticket-modal-container .top-row{
    display: flex;
    width: 100%;
}



.input-field-name{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tickets-form-search{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    position: relative;
}

.developer-area .tickets-form-search{
    padding-bottom: 0px;
}


.tickets-form-search .search-input.description{
    height: 250px;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.tickets-form-search .search-box{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tickets-form-search .search-box input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

input.search-input.ticket-developer {
    border-radius: 10px 10px 0px 0px;
}
input.search-input.ticket-developer:focus-visible{
    border-bottom: 2px solid var(--dark-blue);
}

.ticket-modal-container .split-input-fields{
    display: flex;
    flex-direction: column;
}

.tickets-form-search .search-input{
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    padding-right: 30px;
}

.tickets-form-search .search-btn{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background: transparent;
    display: flex;
}

.ticket-modal-container .errors{
    font-size: 16px;
    margin: 0px;
    height: 25px;
}

.ticket-modal-container .project-dropdown{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}
.ticket-modal-container .select-project .sort-by{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-project{
font-size: 25px;
text-align: center;
width: 400px;
padding: 10px 10px 20px;
display: flex;
    flex-direction: column;
}






.ticket-dropdowns{
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.ticket-dropdowns .column{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
}

.add-complexity label, .add-priority label, .add-category label, .add-status label{
    font-size: 25px;
}

.add-complexity, .add-priority, .add-category, .add-status{
    font-size: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-complexity select, .add-priority select, .add-category select, .add-status select{
    font-size: 16px;
    margin: 5px;
/* 
    width: 100%; */
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}








/* ----------- displaying developers/projects added section -------------*/


.ticket-modal-container .rows-container{
    margin-left: 10px;
    height: 210px;
    width: 380px;
    background-color: white;
    overflow: auto;
    border: 1px solid grey;
    z-index: 1;
    border-radius: 5px;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
.added-label{
    font-weight: bold;
    font-size: 17px;
    border-bottom: 20px;
}
.nothing-yet-label{
    font-size: 20px;
    margin: 10px;
    margin-top: 40px;
    text-align: center;
}
.ticket-modal-container .added-row{
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.ticket-modal-container .added-row button{
    background-color: transparent;
    font-size: 20px;
}


.ticket-modal-container .ticket-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* ----------- button styling ------------ */
.modal-buttons{
    margin-bottom: 40px;;
    
}

.modal-buttons button{
    background: var(--dark-blue);
    color: rgb(235, 235, 235);
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 0 5px 0 #3f4d67;
}

.modal-buttons button:hover{
    color: white;
    box-shadow: 0px 0 7px 0 #3f4d67;
}