/* ----------------------------GENERAL LANDING PAGE FORMATTING ---------------------------*/
.landing-page
{
    background-color: var(--off-white);
}

/* ----------------------------GENERAL HERO PAGE FORMATTING ---------------------------*/
.hero-page{
    display:flex;
    justify-content: center;
    margin-top: 70px;
    color: #FFFFFF;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)), url(https://www.teamcomputers.com/uploads/casestudy/case_study_thumbnail_thumbnailimage_1522319537.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* ------------------------- HERO BANNER SECTION -------------------------------------------*/
.hero-content{
    max-width: 720px;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.hero-logo span{
    padding: 20px;
    font-size: 180px;
}
.hero h1{
    font-size: 60px;
    margin: 10px;
    padding-bottom: 20px;
}


/* ------------------------------- REGISTRATION BUTTONS STYLING SECTION -------------------------------------------*/
.register-btn{
    background-color: rgb(119, 143, 211);
    padding: 15px 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
}

/* ------------------------------- CONTENT NAVIGATION STYLING SECTION -------------------------------------------*/
.content-nav
{
    margin-top: 60px;
    margin-bottom: 60px
}

.content-nav-title
{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px
}

.content-buttons
{
    text-align: center;
}

.content-nav-buttons
{
    margin-right: 10px;
    background-color: rgb(119, 143, 211);
    padding: 15px 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
}

.content-nav-sections
{
    display: flex;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    height: 500px;
    justify-content: center;
}

.content-section-info
{
    width: 50%;
    margin-right: 25px;
}

#section-name
{
    font-size: 40px;
}

#section-description
{
    font-size: 20px;
}

#content-section-gifs
{
    width: 800px;
    height: 500px;
}

.section-checks
{
    display: inline-block;
}

.section-checks span
{
    float:left;
    vertical-align: center;
}

.section-checks p
{
    float:right;
    vertical-align: center
}

@media only screen and (max-width: 90em) 
{

    #section-nav
    {
        font-size: 30px;
    }

    #section-description
    {
        font-size: 15px;
    }

    .section-checks p
    {
        float:right;
        vertical-align: center;
        font-size: 13px;
        margin-left: 5px
    }

    .section-checks span
    {
        float:left;
        vertical-align: center;
    }
}