/* GENERAL INFO BOX CSS */

.tickets-page .ticket-info-box {
    background-color: white;
    min-width: 85%;
    padding-top: 30px;
}

.tickets-page .ticket-info-box {
    background-color: white;
}

.tickets-page .ticket-info-box .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}

/* LEFT COLUMN INFO BOX */

.tickets-page .ticket-info-box .columns .left-column {
    width: 50%;
}

.tickets-page .ticket-info-box .columns .left-column .info-box {
    display: flex;
    flex-direction: column;
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-item  {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 31%;
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-item .info-row-header {
    margin: auto;
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-item .info-row-content {
    margin: auto;
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-item .info-row-content p{
    display: flex;
    justify-content: center;
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid black;

  
}

.tickets-page .ticket-info-box .columns .left-column .info-box .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid black;
}

.tickets-page .ticket-info-box .columns .left-column .dev-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    
}

/* RIGHT COLUMN INFO BOX */

.tickets-page .ticket-info-box .columns .right-column {
    width: 50%;
}

.tickets-page .ticket-info-box .columns .right-column .comment {
    margin-bottom: 10px;
}
